/* body {
    font-family: "Noto Sans", sans-serif;
} */

nav {
    margin-top: 40px;
    padding: 15px;
    text-align: center;
    font-family: 'Raleway';
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
 

    
  .link-3 {
    font-size: 12px;
      transition: 0.4s;
      color: #ffffff;
      text-decoration: none;
      padding: 0 10px;
      margin: 0 10px 10px;
      text-align: center;

    @media screen and (min-width: 1200px) { 
    font-size: 18px; 
    font-weight: 500;
    transition: 0.4s;
      color: #ffffff;
      text-decoration: none;
      padding: 0 10px;
      margin: 10px 10px;
      letter-spacing: 1.5px;
  }
}

  .link-3:hover {
    background-color: #f9eae1e3;
    color: #232532  ;
    padding: 15px 10px;
    font-weight: 600;
  }

  .footer-active {
    background-color: #f9eae1e3;
    color: #232532 ;
    padding: 10px;
    font-weight: 600;
  }

  .foo-margin {
    margin-top: -100px;
    @media screen and (min-width: 1200px) { 
        margin-top: 578px;
    }
}

.nav__links {
      display: flex;
      flex-direction: column;
      align-items: center; 
      background: transparent!important;
/*       flex: 1 1 50%;
 */      text-align: center;
      width: 150px;
}

.nav__flex {
    display: flex;
    justify-content: space-evenly;
        flex-wrap: wrap;
}

.nav__title {
  color: #feffd6;
    margin-bottom: 20px;
    font-weight: 600;

    @media screen and (min-width: 1200px) { 
    font-size: 22px;
    }
}

.footer__main {
  padding: 25px;
box-shadow: 0 2px 8px rgb(229 229 228 / 25%), 0 5px 10px rgb(229 229 228 / 22%);
 @media screen and (min-width: 1200px) { 
 padding: 25px 100px;
 }
}

.footer__menu-mb {
  margin-top: 25px;
  display: flex;

  @media screen and (min-width: 1200px) { 
margin-top: 0px;
justify-content: space-around;   
 width: 500px;
 margin-left: -40px;
}
}

.nav__socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
}